.main{
    flex: 1;
    min-height: 100vh;
    padding-bottom:15vh;
    position: relative;
}

.main .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: #585858;
}

.user-icon{
    border-radius: 50%;
    height: 50px;
    cursor: pointer;
}

.main-container{
    max-width: 900px;
    margin: auto;
}
.main .greet{
    margin: 50px 0px;
    font-size: 56px;
    color: #c4c7c5;
    font-weight: 500;
    padding: 20px;
}

.main .greet span{
   background:-webkit-linear-gradient(16deg,#4b90ff,#ff5546);
   background-clip: text;
   -webkit-text-fill-color: transparent;
}
.main .cards{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
    gap: 15px;
    padding:20px;
}
.main .card{
    height: 200px;
    background-color: #f0f9f4;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    padding: 15px;
} 

.main .card:hover{
    background-color: #dfe4ea;
}

.main .card img{
    width:35px;
    padding: 5px;
    position: absolute;
    background-color: #fff;
    border-radius: 20px;
    bottom: 10px;
    right: 10px;
}

.main .card p{
    color: #585858;
    font-weight: 17px;
}

.main-bottom{
    position:absolute;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    padding: 0px 20px;
    margin: auto;
}

.search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #f0f4f9;
    padding: 10px 20px;
    border-radius: 50px;
}

.search-box img{
    width: 24px;
    cursor: pointer;
}

.search-box input{
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 18px;
}

.search-box div{
    display: flex;
    align-items: center;
    gap: 15px;
}

.main .bottom-info{
   font-size: 13px;
   margin: 15px auto;
   font-weight: 300;
   text-align: center;
}

.result{
    padding: 0px 5%;
    max-height: 70vh;
    overflow-y: scroll;
}

.result::-webkit-scrollbar {
    display: none;
}

.result-title{
    margin: 40px 0px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.result-title img{
    height: 40px;
    border-radius: 50%;
}

.result-data{
    display: flex;
    align-items: start;
    gap: 20px;
}

.result-data img{
    height: 30px;
}

.loader {
    display: flex;
    column-gap: 10px;
  }
  
  .dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #008ae6;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.01);
    animation: animate 1s ease-in-out infinite alternate;
  }
  
  .dot:nth-child(1){
    animation-delay: -0.25s;
  }
  
  .dot:nth-child(2){
    background: #e60000;
    animation-delay: -0.5s;
  }
  
  .dot:nth-child(3){
    background: #ffcc00;
    animation-delay: -0.75s;
  }
  
  .dot:nth-child(4){
    background: #008800;
    animation-delay: -1s;
  }
  
  @keyframes animate {
    0% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(5px);
    }
  }

  .result-data p{
    font-size: 17px;
    font-weight: 300;
    line-height: 1.8;
  }

  @media (max-width:600px) {
     .main-bottom input{
        flex: none;
        width: 150px;
     }

     .main-bottom img{
        width: 20px;
     }

     .search-box{
        padding: 5px 10px;
     }

     .search-box div{
        gap: 5px;
     }
  }